@import 'main';

.about-banner-view{
    background: url('../assets/images/e7f5d6015a.jpg') 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    float: left;
    height: 500px;
    color: #ffffff;
}

.about-a{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 60px;
    margin-top: 90px;
}
.about-b{
    width: 140px;
    text-align: center;
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
}
.about-c{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-bottom: 1px solid #ffffff;
    padding: 0 15px 20px 15px;
    text-align: center;
    font-size: 15px;
}
.about-d{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 28px;
}

.about-Originator-view{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.Originator-view{
    width: 100%;
    float: left;
    position: relative;
    padding-left: 313px;
}

.Originator-title{
    width: 100%;
    float: left;
    color: #444444;
    font-size: 48px;
    text-align: left;
    margin: 30px 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
}

.Originator-chuangshi{
    position: absolute;
    top: 100px;
    font-size: 24px;
    color: #36b0e5;
    left: 0;
}

.Originator-10years{
    font-size: 24px;
    margin: 10px 0 0 100px;
}

.Originator-a{
    width: 100%;
    float: left;
}

.Originator-b{
    width: 100%;
    float: left;
    margin-top: 100px;
    img{
        width: 100%;
        float: left;
        margin-bottom: 15px;
    }
}

.Originator-c{
    width: 100%;
    float: left;
    line-height: 28px;
    font-size: 14px;
    color: #444444;
}

.Originator-name{
    font-size: 18px;
    line-height: 40px;
}