@import 'main';

.cooperation-view{
    width: 100%;
    float: left;
}

.cooperation-title{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #444444;
    margin: 30px 0;
}

.cooperation-table-view{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    float: initial;
}

.cooperation-table-cell{
    width: 33%;
    margin-bottom: 60px; 
    text-align: center;
    img{
        width: 100%;
    }
}

.cooperation-name{
    width: 100%;
    text-align: center;
    float: left;
    font-size: 12px;
    color: #7d7d7d;
}