@import 'main';

.home-banner-view{
    background: url('../assets/images/1.jpeg') 0 0 no-repeat;
    width: 100%;
    float: left;
    height: 600px;
    background-size: cover;
}

.home-button-view{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 210px;
    background-color: #f5f5f5;
    
}

.home-button-cell{
    width: 150px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 150px;
    margin: auto;
    font-size: 18px;
    color: #36b0e5;
    position: absolute;
    left: 0;
    right: 0;
    top: -84px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

.home-button-active{
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -84px;
    background-color: #36b0e5;
    color: #ffffff;
    font-size: 30px;
    width: 180px;
    height: 180px;
    cursor: pointer;
}

.home-button-cell:hover{
    background-color: #36b0e5;
    color: #ffffff;
    font-size: 30px;
    width: 180px;
    height: 180px;
    cursor: pointer;
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}

.home-button-main{
    position: relative;
    width: 33%;
    float: left;
    height: 210px;
}