.header-view{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #383e4c;
    padding: 5px 0;
    }
.header-table-view{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    img{
        width: 60px;
        float: left;
        margin: 14px 380px 0 0;
        cursor: pointer;
    }
}

.header-table-cell{
    width: auto;
    color: #ffffff;
    padding: 0 5px;
    float: left;
    line-height: 90px;
    margin: 0 15px;
    cursor: pointer;
}
.header-btn{
    cursor: pointer;
    border: 1px solid;
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    line-height: 90px;
    margin-left: 50px;
}
.login-btn{
    border-color: #36b0e5;
}
.use-btn{
    border-color: #37bf61;
}

.link-active{
    border-top: 3px solid;
    line-height: 85px; 
}

.product-view{
    width: 1100px;
    height: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.product-cell{
    width: auto;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 3px;
    color: #36b0e5;
    float: left;
    margin: 5px 20px 5px 0;
    cursor: pointer;
}

.product-active{
    border: 1px solid #36b0e5;
}

.product-cell:hover{
    background-color: #36b0e5;
    color: #ffffff;
}

// footer 

.footer-view{
  width: 100%;
  height: 260px;
  float: left;
  background-color: #383e4c;
  position: relative;
}
.footer-main{
    width: 1030px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
.footer-table-view{
    width: 100px;
    margin: 60px 80px 0 0;
    float: left;
 }
.footer-table-cell{
  width: 100%;
  float: left;
  color: #aaaaaa;
  font-size: 13px;
  margin-bottom: 10px;
  cursor: pointer;
}
.footer-table-title{
  font-size: 18px;
  margin-bottom: 20px;
}

.cell-me{
    width: 250px;
    margin-right: 0;
}

.qrcode{
    width: 140px;
    float: right;
    height: 140px;
    margin-top: 60px;
    img{
        width: 100%;
        float: left;
    }
}