@import 'main';

.reg-view{
    background: url('../assets/images/3.png') no-repeat;
    width: 100%;
    background-size: cover;
    height: 600px;
    position: relative;
}

.reg-form-view{
    position: absolute;
    width: 250px;
    height: 275px;
    background-color:rgba(232, 232, 232, 0.64);
    margin: auto;
    left: 0;
    right: 0;
    top: 95px;
    border-radius: 4px;
}

.reg-title {
  width: 100%;
  float: left;
  font-size: 17px;
  text-align: CENTER;
  margin-top: 15px;
  color: #444444;
}
.reg-groud{
  width: 100%;
  float: left;
  height: 30px;
  padding: 0 20px;
  position: relative;
  margin-top: 15px;
  input{
  width: 100%;
  float: left;
  border-style: none;
  border-radius: 3px;
  height: 30px;
  padding-left: 30px;
}
}
.reg-icon-home{
  background: url('../assets/images/jigou_111.png')0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 26px;
  width: 20px;
  height: 20px;
}

.reg-icon-phone{
  background: url('../assets/images/jigou_19.png')0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 26px;
  width: 20px;
  height: 20px;
}

.reg-icon-user{
  background: url('../assets/images/jigou_22.png')0 0 no-repeat;
  background-size: cover;
  position: absolute;
  top: 4px;
  left: 26px;
  width: 20px;
  height: 20px;
}

.checkbox-reg{
    input{
        width: 15px;
    }
    div{
      margin-top: 8px;
      float: left;
      font-size: 14px;
      cursor: pointer;
    }
}

.reg-submit{
  button{
    width: 100%;
    background-color: #36b0e5;
    border-style: none;
    height: 30px;
    color: #ffffff;
    font-size: 14px; 
    cursor: pointer;
  }
}

.erp-banner1{
  background: url('../assets/images/product-ERP.png') 0 0 no-repeat;
  background-position: center center;
  width: 100%;
  height: 577px;
}

.erp-banner2{
  background: url('../assets/images/2.png') 0 0 no-repeat;
  background-position: center center;
  width: 100%;
  height: 577px;
}

.erp-table-view{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 268px;
    img{
    width: 260px;
    float: left;
  }
}

.erp-table-image{
  float: left;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  img{
    width: 230px;
    float: left;
  }
}

.erp-table-image2{
  float: right;
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
  img{
    width: 230px;
    float: right;
    margin-top: -120px;
  }
}

.erp-table-cell{
  width: auto;
  margin-top: 120px;
  padding-left: 428px;
  padding-top: 45px;
  img{
    width: 230px;
    float: left;
  }
}

.erp-table-title{
  width: auto;
  font-size: 20px;
  color: #444444;
  line-height: 50px;
}

.erp-table-content{
  width: auto;
  font-size: 12px;
  color: #444444;
}

.erp-border{
  border-bottom: 1px solid #ddd
}


.erp-table-view2{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 268px;
    img{
    width: 260px;
    float: right;
    margin-top: -120px;
  }
}

.erp-table-cell2{
  width: auto;
  margin-top: 120px;
  padding-right: 444px;
  padding-top: 45px;
}

.erp-table-title2{
  width: auto;
  font-size: 20px;
  color: #444444;
  line-height: 50px;
}

.erp-table-content2{
  width: auto;
  font-size: 12px;
  color: #444444;
}

.product-table{
  width: 650px;
}

.checkbox-reg>div>span:hover{
  text-decoration: underline;
}

// 服务协议

.rule-view{
  width: 100%;
  position: fixed;
  z-index: 20;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(142, 138, 138, 0.63);
  overflow: auto;
}

.rule-main{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 15px 15px;
  background-color: #ffffff;
  border-radius: 6px;
}

.rule-a{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.rule-b{
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.rule-c{
  width: 100%;
  float: left;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
}

.rule-d{
  width: 100%;
  float: left;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.close-btn{
  width: 100%;
  float: left;
  position: relative;
  height: 50px;
  margin-top: 20px;
  span{
    width: 100px;
    position: absolute;
    height: 34px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 34px;
    top: 0;
    bottom: 0;
    color: #ffffff;
    border-radius: 3px;
    cursor: no-drop;
  }
}

.distable-button{
  background-color: #dddddd;
}

.close-button{
  background-color: #03A9F4;
  cursor: pointer !important;
}