<template>
  <navbar-component></navbar-component>
  <div class="page-main">
       <div class="about-banner-view">
            <div class="about-a">ABOUT</div>
            <div class="about-b">关于棒棒堂</div>
            <div class="about-c">深圳棒棒堂互联网科技有限公司是一家集文化、媒体、互联网三大行业于一体的互联网公司。
棒棒堂科技，一直专注少儿艺术教育领域，我们是艺术行业的“大众点评”</div>
            <div class="about-d">棒棒堂科技拥有一个平均年龄23.5岁的年轻热情创业团队，其中有资深互联网精英。 我们拥有机构、媒体、赛事方面密集丰富的行业资源</div>
       </div>
       <div class="about-Originator-view">
            <div class="Originator-view">
                <div class="Originator-title">
                    Originator
                </div>
                <div class="Originator-chuangshi">创始人</div>
                <div class="Originator-a">
                    <div class="Originator-b">
                          <img src="../assets/images/822029219881151357.png" />
                          <div class="Originator-c">
                            <span class="Originator-name">周展</span>      创始人<br>
                            10年从事艺术赛事培训<br>
                            中国社会艺术协会的理事<br>
                            明星经纪、少儿艺培工作<br>
                            在全国艺培行业、少儿赛事及演艺经纪拥有广泛人脉与资源
                          </div>
                    </div>
                </div>
            </div>
            <div class="Originator-view">
                <div class="Originator-a">
                    <div class="Originator-b">
                          <img src="../assets/images/794062440121264182.png" />
                          <div class="Originator-c">
                            <span class="Originator-name">罗振东</span>      联合创始人<br>
                            10年 媒体行业<br>
                            担任广播主持人15年<br>
                            资深媒体主持人，媒体广告策划人<br>
                            拥有广阔的媒体网络资源和大客户资源<br>
                            投资并深入K12少儿艺培教育产业4年，具有丰富的运营经验
                          </div>
                    </div>
                </div>
            </div>
            <div class="Originator-view">
                <div class="Originator-a">
                    <div class="Originator-b">
                          <img src="../assets/images/874245497065125487.png" />
                          <div class="Originator-c">
                            <span class="Originator-name">蒋海松</span>      联合创始人<br>
                            10年互联网从业经验<br>
                            互联网资深从业者<br>
                            互联网培训讲师<br>
                            曾落地执行过多个互联网项目
                          </div>
                    </div>
                </div>
            </div>
            <div class="Originator-view" style="margin-bottom:100px">
                <div class="Originator-a">
                    <div class="Originator-b">
                          <img src="../assets/images/mike.jpg" />
                          <div class="Originator-c">
                            <span class="Originator-name">谈蔡新</span> 技术合伙人<br>
                            从英国学成归来后<br>
                            一直专注互联网<br>
                            曾多次主导创业<br>
                            有资深从业经验与技术背景，带领技术团队参与多个项目开发
                          </div>
                    </div>
                </div>
            </div>
       </div>
  </div>
  <footer-component></footer-component>
</template>

<script>
import navbarComponent from '../components/navbarComponent.vue';
import footerComponent from '../components/footerComponent.vue';
module.exports = {
    data() {
        return {}
    },
    components: {
        navbarComponent,
        footerComponent
    }
};
</script>

<style lang="less" src="../style/about.less" scoped></style>