<template>
  <navbar-component></navbar-component>
  <div class="page-main">
       <div class="cooperation-view">
            <div class="cooperation-title" style="margin-top: 50px;">合作单位</div>
            <ul class="cooperation-table-view">
                <li class="cooperation-table-cell">
                    <img src="../assets/images/case_03.png" />
                    <span class="cooperation-name">中国社会艺术协会</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_05.png" style="margin: 24px 0 15px 0;"/>
                    <span class="cooperation-name">北京电影学院深圳研究院</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_07.png" />
                    <span class="cooperation-name">深圳市文化艺术培训行业协会</span>
                </li>
                <li class="cooperation-table-cell">
                    <img src="../assets/images/case_12.png" />
                    <span class="cooperation-name">艺海国际</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_13.png" style="margin: 24px 0 15px 0;"/>
                    <span class="cooperation-name">万科集团</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_14.png" />
                    <span class="cooperation-name">名家居世博园</span>
                </li>
            </ul>
       </div>
       <div class="cooperation-view" style="margin-top: 50px;">
            <div class="cooperation-title">合作媒体</div>
            <ul class="cooperation-table-view">
                <li class="cooperation-table-cell">
                    <img src="../assets/images/case_18.png" />
                    <span class="cooperation-name">CCTV</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_19.png" style="margin: 16px 0 0 0;width: 122px;"/>
                    <span class="cooperation-name">湖南卫视</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_20.png" />
                    <span class="cooperation-name">深圳卫视</span>
                </li>
                <li class="cooperation-table-cell">
                    <img src="../assets/images/case_24.png" />
                    <span class="cooperation-name">浙江卫视</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_25.png" style="margin: 18px 0 0 0;width: 122px;"/>
                    <span class="cooperation-name">土豆网</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_26.png" />
                    <span class="cooperation-name">爱奇艺</span>
                </li>
                <li class="cooperation-table-cell">
                    <img src="../assets/images/case_30.png" />
                    <span class="cooperation-name">腾讯</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_31.png" style="margin: 16px 0 0 0;width: 122px;"/>
                    <span class="cooperation-name">新浪</span>
                </li>
                 <li class="cooperation-table-cell">
                    <img src="../assets/images/case_32.png" />
                    <span class="cooperation-name">乐视</span>
                </li>
            </ul>
       </div>
       <div class="cooperation-view" style="margin: 50px 0;">
            <div class="cooperation-title" style="margin-bottom: 30px;">合作赛事</div>
            <ul class="cooperation-table-view">
                <li class="cooperation-table-cell">
                    <span class="cooperation-name">《全国校园艺术节》</span>
                </li>
                 <li class="cooperation-table-cell">
                    <span class="cooperation-name">《辉煌中国》全国艺术精英电视盛典</span>
                </li>
                 <li class="cooperation-table-cell">
                    <span class="cooperation-name">《校园之歌》</span>
                </li>
                <li class="cooperation-table-cell">
                    <span class="cooperation-name">《少儿星光大道》</span>
                </li>
                 <li class="cooperation-table-cell">
                    <span class="cooperation-name">《青春中国》全国艺术精英电视盛典</span>
                </li>
                 <li class="cooperation-table-cell">
                    <span class="cooperation-name">《青苗杯》</span>
                </li>
                <li class="cooperation-table-cell">
                    <span class="cooperation-name">《中国超级模特大赛》</span>
                </li>
                <li class="cooperation-table-cell">
                    <span class="cooperation-name">《新丝路》中国国际少儿模特及才艺大赛</span>
                </li>
                <li class="cooperation-table-cell">
                    <span class="cooperation-name">《深圳第二届弦乐大赛》</span>
                </li>
            </ul>
       </div>
  </div>
  <footer-component></footer-component>
</template>

<script>
import navbarComponent from '../components/navbarComponent.vue';
import footerComponent from '../components/footerComponent.vue';
module.exports = {
    data() {
        return {}
    },
    components: {
        navbarComponent,
        footerComponent
    }
};
</script>

<style lang="less" src="../style/case.less" scoped></style>