<template>
  <navbar-component></navbar-component>
  <div class="page-main">
       <div class="erp-banner1"></div>
       <div class="erp-border">
            <div class="erp-table-view">
                <img src="../assets/images/fdsdfdsff.png" />
                <div class="erp-table-cell">
                    <div class="erp-table-title">机构专用管理系统 (管理神器)</div>
                    <div class="erp-table-content">
                        包含客户管理、课程管理、班级分配、学员管理、活动管理、报名管理、订单列表、数据分析等全方位功能。
                    </div>
                </div>
            </div>
       </div>
       <div class="erp-border">
            <div class="erp-table-view2">
                <div class="erp-table-cell2">
                    <div class="erp-table-title2">用户管理</div>
                    <div class="erp-table-content2">
                        用户导入、来源分类、联系方式、 接待状态、接待老师。
                    </div>
                </div>
                <img src="../assets/images/userfdfdfdf.png" style="margin-top: -77px;"/>
            </div>
       </div>
       <div class="erp-border">
            <div class="erp-table-view">
                <img src="../assets/images/zhineng.png" style="margin-top: 27px;"/>
                <div class="erp-table-cell">
                    <div class="erp-table-title">智能排课</div>
                    <div class="erp-table-content">
                        智能排课系统，可按照周，月，日排课。 随时随地为少儿安排最好的上课时间。
                    </div>
                </div>
            </div>
       </div>
       <div class="erp-border">
            <div class="erp-table-view2">
                <div class="erp-table-cell2">
                    <div class="erp-table-title2">大数据分析</div>
                    <div class="erp-table-content2">
                        精确记录客户，学员信息，活动报名人数 大数据分析，为机构提供更好的客源数据分析。
                    </div>
                </div>
                <img src="../assets/images/dfdfdfdfd.png" />
            </div>
       </div>
       <div class="reg-view" id="org">
            <div class="reg-form-view">
                <div class="reg-title">在线申请使用机构ERP</div>
                <form>
                    <div class="reg-groud">
                        <i class="reg-icon-home"></i>
                        <input type="text" placeholder="请输入机构全称" v-model="item.name"/>
                    </div>
                    <div class="reg-groud">
                        <i class="reg-icon-phone"></i>
                        <input type="tel" placeholder="请输入联系电话" maxlength="15" v-model="item.phone"/>
                    </div>
                    <div class="reg-groud">
                        <i class="reg-icon-user"></i>
                        <input type="text" placeholder="请输入联系人" v-model="item.user"/>
                    </div>
                    <div class="reg-groud checkbox-reg">
                        <input type="checkbox" v-model="item.rule"/>
                        <div>
                            &nbsp;&nbsp;同意<span style="color:#36b0e5;" v-on:click="showRule()">《棒棒堂服务协议》</span>
                        </div>
                    </div>
                    <div class="reg-groud reg-submit">
                        <button type="button" v-on:click="submit()">提交</button>
                    </div>
                </form>
            </div>
  </div>
  <footer-component></footer-component>
  <div class="rule-view" v-if="showCustomModal">
    <div class="rule-main">
        <div class="rule-a">棒棒堂艺术教育平台用户入驻与推广服务协议</div>
        <div class="rule-b">本着平等互利，诚实守信的原则，甲乙双方根据《中华人民共和国合同法》及相关法规，就乙方入驻棒棒堂艺术教育平台及双方合作推广事宜进行协商，特此签订本协议供双方共同参照履行，具体条款如下：</div>
        <div class="rule-c">一、定义</div>
        <div class="rule-d">1.1 棒棒堂艺术教育平台：由深圳市棒棒堂互联网科技有限公司（以下简称“棒棒堂”）独立研发，并拥有独立知识产权与运营权，棒棒堂艺术教育平台以下简称“棒棒堂”。</div>
        <div class="rule-d">1.2机构用户：是指合法成立并存续的具有法人主体资格的企业、非企业单位，或者个体教师工作室以团体名义入驻棒棒堂的非法人单位，简称“机构”或“用户”，是本协议乙方主体。</div>

        <div class="rule-c">二、服务条款</div>
        <div class="rule-d">2.1本协议中“入驻服务”：是指甲方向乙方提供在棒棒堂教育平台（含WEB端、手机端、PAD端、微信端等）上发布机构信息、师资信息、课程信息、教学照片、教学视频、发布家庭作业、家长互动交流、在线招生、赛事报名、活动发布等相关信息、商业推广及与此关联的信息、技术与结算服务。</div>
        <div class="rule-d">2.2本协议中“合作推广”：是指甲方将通过丰富的网络推广，联合乙方积极开开展专业比赛、文化交流等手段，通过棒棒堂教育平台及线下活动的组织、宣传、执行，不断提升机构及其下属老师的业界知名度、为机构、教师扩大学员来源，创造更多的、生意机会。</div>
        <div class="rule-d">2.3 本协议服务期为 2 年，自注册之日起生效。在协议到期前一个月内，可提前续约。</div>

        <div class="rule-c">三、结算说明</div>
        <div class="rule-d">3.1零收费入驻：为保障机构用户（乙方）的利益，目前棒棒堂对机构用户暂不收取任何入驻、普通认证费用，免费享受课程发布、师资展示、家长交流、发布作业等系列平台服务。</div>
        <div class="rule-d">3.2平台运营费用：当学员在棒棒堂成功选课并在平台中成功在线支付课程费用后，甲方按机构在平台中在线交易金额的百分之拾（10 %）在结算系统实时自动划扣作为平台运营费用，用于平台服务运营、技术维护及宣传推广等，其余百分之玖拾（90 %）金额划入机构帐户。</div>

        <div class="rule-c">四、双方权利与义务</div>
        <div class="rule-d">4.1 所有入驻机构用户必须接受棒棒堂平台对其进行线上资质审核，棒棒堂平台保留对机构进行现场实地考察、查验核对资料的权利，机构应对自身提交及上传棒棒堂的资料信息的真实性、合法性、有效性承担法律责任。</div>
        <div class="rule-d">4.2机构用户必须提供但不限于相关注册、法人、营业规模、师资介绍、教学环境、教学体系等证明材料，如机构需发布下属教师信息，应在征得教师本人同意的前提下将教师运营至棒棒堂平台，并负责审核注册教师相关资质的真实性与合法性。教师个人资料包含但不限于身份证、学历证、教师证等材料。</div>
        <div class="rule-d">4.3棒棒堂要求机构及其教师向学员提供高质量教学水准、优良的教学态度为宗旨，如教学质量达不到同行业中等及中等以上的教学水准，或发生严重质量、教授态度的投诉，经棒棒堂核实后将对机构、教师发出警告并下调评估星级。对违反情节特别严重或不给予配合调查者，棒棒堂有权单方解除协议关系，向其发送解除协议的电子通告，同时直接注销其注册帐号。</div>
        <div class="rule-d">4.5 棒棒堂仅提供机构、教师与潜在需求学员之间在线选课、支付结算、约课等平台技术、信息支撑服务，对机构、教师发布信息等平台上的行为负有监督责任，而与机构、教师及其关系第三方不存在任何经营、经济的法律连带责任。如机构、教师与学员之间发生经济、法律纠纷，棒棒仅提供平台范围内信息技术实现的司法协助，而机构、教师与学员应在客观事实上依法独立解决纠纷。</div>
        <div class="rule-d">4.6机构、教师应严格遵守棒棒堂入驻约定，合法使用棒棒堂服务。机构及其教师均不得利用棒棒堂平台发布虚假、侵权及其他违法信息，或从事违法活动。如因注册机构或其教师上传信息的虚假性或其他非法行为给棒棒堂造成损害的，机构及其教师应承担相关法律及经济赔偿的连带责任。</div>
        <div class="rule-d">4.7机构应督促教师应维护个人活跃度，及时保持与学员、家长等沟通，同时应确保上传课程、活动内容的真实性、合法性、准确性及有效性。</div>
        <div class="rule-d">4.8学员与机构、教师成功约课后，上课地点按机构、教师与学员的约定确定。上课过程中发生的教师及学员的人身、财产损害事件，由相关责任方承担法律责任。</div>
        <div class="rule-d">4.9机构及注册教师应妥善保管自己的帐号及密码，棒棒堂也应采取适当的技术措施，共同维护机构及注册教师帐号的安全性。</div>
        <div class="rule-d">4.10棒棒堂有权保留并合理使用用户注册及上传的所有信息，同时采用必要技术手段对用户信息进行加密存储，除依法律规定及用户许可，不向任何第三方透露用户信息。</div>
        <div class="rule-d">4.11机构及其教师上传棒棒堂的任何内容如涉嫌侵犯第三方合法权益的，棒棒堂有权采取删除、屏蔽或断开链接等技术措施，机构及其教师用户须独立承担因侵权所产生法律责任。</div>

        <div class="rule-c">五、知识产权</div>
        <div class="rule-d">5.1用户在棒棒堂发布书稿、课件等信息或作品的，用户应独立享有相关著作权。如受到第三方的投诉或举报，用户应独立承担相关法律责任。</div>
        <div class="rule-d">5.2棒棒堂在服务中提供的内容（包括但不限于网页、文字、图片、音频、视频、图表等）的知识产权归棒棒堂所有，非经棒棒堂书面许可，用户不得任意使用或创造相关衍生作品。</div>
        <div class="rule-d">5.3用户未经棒棒堂书面许可不得擅自使用、不得以任何方式或理由对棒棒堂文字及图形标识的任何部分进行使用、复制、修改、传播或与其他产品捆绑使用，不得以任何可能引起消费者混淆的方式或任何诋毁或诽谤棒棒堂的方式用于任何商品或服务上。</div>
        <div class="rule-d">5.2凡用户拍摄图片、视频的相关著作权归棒棒堂所有，用户除上传棒棒堂之外，非经棒棒堂书面许可，不得用作任何其他用途。</div>
        <div class="rule-d">5.3软件使用：用户需要下载棒棒堂提供的手机/pad软件并安装后方得以从客户端使用棒棒堂所提供的服务。棒棒堂在此授予用户免费的、不可转让的、非独占的全球性个人许可，允许用户使用由棒棒堂提供的、包含在服务中的软件。但是，用户不得复制、修改、发布、出售或出租棒棒堂的服务软件或所含软件的任何部分，也不得进行反向工程或试图提取该软件的源代码。</div>

        <div class="rule-c">六、免责条款
        基于包括但不限于下列棒棒堂不可控制的原因或并非棒棒堂的过错所造成的损失，机构及其教师应自行承担或向有关责任方追偿：</div>
        <div class="rule-d">6.1不可抗力事件导致的服务中断；</div>
        <div class="rule-d">6.2由于受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏等不可抗拒因素可能引起的信息丢失、泄漏等风险；</div>
        <div class="rule-d">6.3用户的电脑软件、系统、硬件和通信线路出现故障或自身操作不当；</div>
        <div class="rule-d">6.4由于网络信号不稳定等原因所引起的登录失败、资料同步不完整、页面打开速度慢等；</div>
        <div class="rule-d">6.5用户发布的内容被他人转发、复制等传播可能带来的风险和责任；</div>
        <div class="rule-d">6.6其他棒棒堂无法控制的原因；</div>
        <div class="rule-d">6.7如因系统维护或升级而需要暂停网络服务，棒棒堂将事先在网站发布通知。</div>

        <div class="rule-c">七、法律适用与争议解决</div>
        <div class="rule-d">7.1本协议的履行与解释均适用中华人民共和国法律。</div>
        <div class="rule-d">7.2棒棒堂与用户之间的任何争议应友好协商解决，协商不成的，任一方有权将争议提交深圳市南山区人民法院诉讼解决。</div>

        <div class="rule-c">八、本协议条款的修改权与可分性</div>
        <div class="rule-d">8.1 为更好地提供服务并符合相关监管政策，对于国家法律新公布且适用本协议的规定或条款，则自动成为本协议合法新增条款。棒棒堂有权在及时修改本协议条款，请用户定期查阅本协议条款。棒棒堂会在网页上公布这些条款的修改通知。</div>
        <div class="rule-d">8.2 本协议条款中任何一条被视为无效或因任何理由不可执行，不影响任何其余条款的有效性和可执行性。</div>

        <div class="rule-c">九、通知</div>
        <div class="rule-d">棒棒堂将通过在网站上发布通知或其他方式与用户进行联系。用户同意用网站发布通知方式接收更新信息、通知、披露和其他信息。</div>
        <div class="close-btn">
            <span v-on:click="close()" :class="distableButton">{{time}}</span>
        </div>
    </div>
  </div>
</template>
<script src="../js/reg.js"></script>

<style lang="less" src="../style/reg.less" scoped></style>