<template>
  <footer class="footer-view">
     <div class="footer-main">
        <ul class="footer-table-view">
            <li class="footer-table-cell footer-table-title">产品</li>
            <li class="footer-table-cell" v-link="{path: '/product'}">有孩子以后</li>
            <li class="footer-table-cell" onclick="window.location.href='/erp#org'">机构ERP</li>
        </ul>
        <ul class="footer-table-view">
            <li class="footer-table-cell footer-table-title">公司</li>
            <li class="footer-table-cell" v-link="{path: '/about'}">关于我们</li>
        </ul>
        <ul class="footer-table-view">
            <li class="footer-table-cell footer-table-title">帮助中心</li>
            <li class="footer-table-cell">使用文档</li>
            <li class="footer-table-cell">常见问题</li>
        </ul>
        <ul class="footer-table-view cell-me">
            <li class="footer-table-cell footer-table-title">联系方式</li>
            <li class="footer-table-cell">联系电话：0755-2660-4348</li>
            <li class="footer-table-cell">地址：深圳市南山区田厦金牛广场B座1128</li>
        </ul>
        <div class="qrcode">
            <img src="../assets/images/qrcode_for_gh_25db2383c91b_258.jpg" />
        </div>
     </div>   
  </footer>
</template>
<style lang="less" src="../style/nav.less" scoped></style>

