<template>
  <navbar-component></navbar-component>
  <div class="page-main">
       <div class="home-banner-view"></div> 
       <div class="home-button-view">
            <div class="home-button-main">
                <span class="home-button-cell" v-link="{path: '/product'}">有孩以后</span>
            </div>
            <div class="home-button-main">
                <span class="home-button-active" onclick="window.location.href='/erp#org'">注册</span>
            </div>
            <div class="home-button-main">
                <span class="home-button-cell" onclick="window.location.href = 'http://org.bbtxsj.com'">机构ERP</span>
            </div>
       </div>
  </div>
  <footer-component></footer-component>
</template>

<script>
import navbarComponent from '../components/navbarComponent.vue';
import footerComponent from '../components/footerComponent.vue';
module.exports = {
    data() {
        return {}
    },
    components: {
        navbarComponent,
        footerComponent
    }
};
</script>

<style lang="less" src="../style/home.less" scoped></style>