<template>
  <nav class="header-view">
       <div class="header-table-view">
            <img src="../assets/images/logo.png" v-link="{path: '/'}"/> 
            <span class="header-table-cell" v-for="item in tabs" :class="item.activeClass" v-text="item.name" v-on:click="go(item.path)"></span>
            <span class="header-btn login-btn" onclick="window.location.href = 'http://org.bbtxsj.com'">登录棒棒堂</span>
            <span class="header-btn use-btn" onclick="window.location.href='/erp#org'">申请使用</span>
       </div>
  </nav>
  <div class="product-view" v-if="isProduct">
    <span class="product-cell" :class="erpActice" v-on:click="go('/erp')" style="margin-left: 459px;">机构ERP</span>
    <span class="product-cell" :class="productActice" v-on:click="go('/product')">有孩以后</span>
  </div>
</template>
<script>
var tabItems = [{name: '首页', path: '/'},
{name: '产品', path: '/pro'},
{name: '合作案例', path: "/case"},
{name: '关于我们', path: '/about'}];

module.exports = {
    data () {
        return {
           tabs: '',
           isProduct: false,
           erpActice: '',
           productActice: ''
        }
    },
    ready(){
      var pathName = this.$route.path;
      tabItems.forEach(function(item){
        if(pathName == '/erp' || pathName == '/product'){
          item.activeClass = item.path == '/pro' ? 'link-active' : null;
        }else{
          item.activeClass = pathName == item.path ? 'link-active' : null;
        }
      });
      this.tabs = tabItems;
    },
    methods: {
      go(path){
        var pathName = this.$route.path;
        var self = this;
        tabItems.forEach(function(item){
            if(path == '/pro' || path == '/erp' || path == '/product'){
              item.activeClass = item.path == '/pro' ? 'link-active' : null;
              self.isProduct = true;
              if(path == '/erp' || path == '/product'){
                self.$router.go(path); 
              }
              if(pathName == '/erp'){
                self.erpActice = 'product-active';
                self.productActice = '';
              }else if(pathName == '/product'){
                self.erpActice = '';
                self.productActice = 'product-active';
              }
            }else if(path == '/'){
              self.isProduct = false;
              item.activeClass = item.path == '/' ? 'link-active' : null;
              self.$router.go(path); 
            }
            else{
              self.$router.go(path); 
              self.isProduct = false;
            }
        });
        this.tabs = tabItems;
      }
    }
}
</script>
<style lang="less" src="../style/nav.less" scoped></style>

