<template>
  <navbar-component></navbar-component>
  <div class="page-main">
       <div class="erp-banner2"></div>
       <div class="">
            <div class="erp-table-view2 product-table">
                <div class="erp-table-cell2">
                    <div class="erp-table-title2">多种艺术教学课程选择</div>
                    <div class="erp-table-content2">
                        包含舞蹈、武术、声乐、器乐、语言 表演、书法等多项艺术教学课程。
                    </div>
                </div>
                <div class="erp-table-image2">
                    <img src="../assets/images/yhyh_03.png" style="margin-top: -203px;width: 200px;"/>
                </div>
            </div>
       </div>
       <div class="">
            <div class="erp-table-view product-table">
                <div class="erp-table-image">
                    <img src="../assets/images/yhyh_05.png" style="width: 200px;margin-top: -29px;"/>
                </div>
                <div class="erp-table-cell">
                    <div class="erp-table-title">多个高端教育机构选择</div>
                    <div class="erp-table-content">
                        可根据距离、区域选择适合合适的机构 贴心为孩子的成长选择更好的环境
                    </div>
                </div>
            </div>
       </div>
       <div class="">
            <div class="erp-table-view2 product-table">
                <div class="erp-table-cell2">
                    <div class="erp-table-title2">多种赛事活动精准匹配</div>
                    <div class="erp-table-content2">
                        涵盖国内高端艺术教育品牌赛事 为孩子的荣誉成长插上翅膀。
                    </div>
                </div>
                <div class="erp-table-image2">
                    <img src="../assets/images/yhyh_07.png" style="margin-top: -136px;width: 200px;"/>
                </div>
            </div>
       </div>
       <div class="">
            <div class="erp-table-view product-table">
                <div class="erp-table-image">
                    <img src="../assets/images/yhyh_08.png" style="width: 200px;margin-top: -25px;"/>
                </div>
                <div class="erp-table-cell">
                    <div class="erp-table-title">各项课程进度精准掌控</div>
                    <div class="erp-table-content">
                        资深艺术老师精确点评 各项课程剩余精度查看 对孩子的成长完美记录
                    </div>
                </div>
            </div>
       </div>
  </div>
  <footer-component></footer-component>
</template>
<script>
import navbarComponent from '../components/navbarComponent.vue';
import footerComponent from '../components/footerComponent.vue';
module.exports = {
    data() {
        return {}
    },
    components: {
        footerComponent,
        navbarComponent
    }
};
</script>

<style lang="less" src="../style/reg.less" scoped></style>