<template>
  <div class="page-main">
       <div class="reg-view">
            <div class="reg-form-view">
                <div class="reg-title">在线申请使用机构ERP</div>
                <form>
                    <div class="reg-groud">
                        <i class="reg-icon-home"></i>
                        <input type="text" placeholder="请输入机构全称" v-model="item.name"/>
                    </div>
                    <div class="reg-groud">
                        <i class="reg-icon-phone"></i>
                        <input type="tel" placeholder="请输入联系电话" maxlength="15" v-model="item.phone"/>
                    </div>
                    <div class="reg-groud">
                        <i class="reg-icon-user"></i>
                        <input type="text" placeholder="请输入联系人" v-model="item.user"/>
                    </div>
                    <div class="reg-groud checkbox-reg">
                        <input type="checkbox" v-model="item.rule"/>
                        <div>
                            &nbsp;&nbsp;同意<span style="color:#36b0e5;">《棒棒堂服务协议》</span>
                        </div>
                    </div>
                    <div class="reg-groud reg-submit">
                        <button type="button" v-on:click="submit()">提交</button>
                    </div>
                </form>
            </div>
       </div>
  </div>
  <footer-component></footer-component>
</template>

<script src="../js/reg.js"></script>

<style lang="less" src="../style/reg.less" scoped></style>